openapi: 3.0.1
info:
  title: DKG Copilot for scientific research
  description: The plugin offers capabilities to retrieve, analyze, and manage information about scientific papers.
  version: 'v1'
servers:
  - url: https://dkg-copilot.origintrail.io/
paths:
  /ask:
    post:
      operationId: askQuestion
      summary: Ask a question
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  description: The question asked in natural language
                entities:
                  type: array
                  items:
                    type: string
                  description: Array of entities extracted from the question
                relations:
                  type: array
                  items:
                    type: string
                  description: Array of relations extracted from the question
                sparqlQuery:
                  type: string
                  items:
                    type: string
                  description: Generate sparql query for the asked question in natural language
              required:
                - question
                - entities
                - relations
                - sparqlQuery
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/askQuestionResponse'

components:
  schemas:
    askQuestionResponse:
      type: object
      properties:
        response:
          type: string
          description: The response for the asked question